@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(porti.png);
   
}

.td{
    display: flex;
}

menu a img{
    height:40px;
    display: flex;
    margin-top: 80px;
    margin: 90px 20px ;
 }


 .card{
    display: flex;
    width: 226px;
    flex-direction: column;
    margin: 20px;
    margin-top: 18%;
    height: 178px;
    overflow: hidden;
    transition: .5s ease-in-out;
    
 }

 .card:hover{
    height: 319px;
    background-color: rgba(0, 0, 0, 0.301);
 }

 .card img{
    height: 150px;
    width: 226px;
 }

 .txt{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  color: aliceblue;
 }

 h2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
 }

#html{
display: flex;
flex-direction: column;
}

#css{
    display: flex;
    flex-direction: column;
}
#jv{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin-top: 1%;
}

h1::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 1s;
    margin-left: 500px;
}
 h1:hover::after{
    width: 100%;
    margin-left: 0;
 }

 .kf img{
    height: 100px;
 }

 .kf{
    display: flex;
    justify-content: space-around;
    animation: ap 2s linear forwards;
 }

 @keyframes ap {
    0%{
        transform: translateY(-500%);
    }
    100%{
        transform: translateY(0%);
        opacity: 0;
    }
 }